@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <i class="bi bi-building d-block mx-auto mb-4" style="font-size: 100px;"></i>
    <h1 class="display-5 fw-bold text-body-emphasis">Bem vindo ao School Manager</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Gerencie e personalize rapidamente instituições de ensino modernas com o SchoolManager, a plataforma de gestão escolar open source mais completa do mercado, apresentando painéis administrativos personalizáveis, sistema de grade curricular responsivo, extensos módulos acadêmicos pré-construídos e poderosas ferramentas de automação pedagógica e financeira.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">

            <a asp-controller="Administrator" asp-action="Create" class="btn btn-primary btn-lg px-4 gap-3">
                Cadastre um Administrador
            </a>

        </div>
    </div>
</div>