@model List<IndexSchoolVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<a asp-action="Create" class="btn">Create New School</a>

@foreach (var item in Model)
{
    <p>@item.Name</p>
}

